{% include 'vueHeader.html' %}

<br>
<br>
<div style="text-align: center;">
    <div style="width: 30%; border: 1px solid black; background-color: #efefef; margin: auto;">
        <h2>{{ pseudo }}</h2>
        <p style="text-decoration: underline">Voici des jeux joués par des utilisateurs similaire à vous :</p>
        <table class="table" style="margin: auto;">
            {% for game in recommendedGames %}
            <tr>
                <td>{{ game['name'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <p style="text-decoration: underline">Vous avez plusieurs jeux en commun avec ces joueurs peut être voudriez vous les contacter :</p>
        {% for player in recommendedPlayers %}
            <table class="table" style="margin: auto;">
            <tr><td style="width: 33%;"></td><td style="width: 33%;">{{ player['name'] }}</td><td style="width: 33%;"></td></tr>
                <tr>
                    {% for game in player['games'] %}
                        <td style="width: 33%;">{{ game }}</td>
                    {% endfor %}
                </tr>
            </table>
            <a target="_blank" rel="noopener noreferrer" href="https://steamcommunity.com/id/{{player['name']}}/">Lien vers le profil de {{player['name']}}</a>
            <br>
            <br>
        {% endfor %}
    </div>
</div>

{% include 'vueFooter.html' %}
