{% include 'vueHeader.html' %}

<br>
<br>
<div style="text-align: center;">
	<img style="max-width: 50%;" src="{{ url_for( 'static' , filename = 'media/wanted.png' ) }}">
	<br>
	<br>
	<br>
	<div style="width: 35%; height: 90px; border: 1px solid black; color:white; background-color: darkgrey; margin: auto;">
		<br>
		<p>Vous n'avez pas assez de jeux pour pouvoir être conseillé, essayez d'en prendre un peu plus.</p>
		<p>Nous vous recommandons de jouer à quelques jeux gratuits.</p>
	</div>
</div>

{% include 'vueFooter.html' %}
